---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="wrapper home">
  <div class="content">
    <h4>Tyler Van Hoomissen</h4>
    <p>I write software, music, and other things.</p>
    <h4>✍🏻 Writings</h4>
    <ul>
      {%- for post in collections.posts -%}
        <li{% if page.url == post.url %} aria-current="page"{% endif %}><a href='{{ post.url }}' alt='{{ post.data.page.date | htmlDateString }}'>{{ post.data.title }}</a></li>
      {%- endfor -%}
      <li><a href="/posts">View all</a></li>
    </ul>
    {{ content | safe }}
  </div>
</div>
